body {
	font: 14px "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
	background-color: rgb(243, 239, 239);
	color: #3b3b3b;
	text-align:center;	
	margin: auto;
}


h1 {
	font-family: Georgia;
	font-size: xx-large;	
	text-justify: center ;
	color: rgba(2, 2, 2, 0.938);
	padding: 2px;	
	text-align:center;
}

h2 {
	font-family: Georgia;
	font-size: x-large;	
	text-justify: center ;
	color: rgba(2, 2, 2, 0.938);
	padding: 2px;	
	text-align:center;
}
.paragrafo{
	font:700;
	font-size: x-large;
	font-family:Calibri;
	line-height:1.7;
}